.basic-box {
  margin-top: 16px;
  padding: 16px;
  border: 2px solid #eee;
  border-radius: 16px;
  min-height: 300px;
}

.submit-btn {
  height: 48px;
  margin-top: 32px;
  width: 100%;
}

.list-group {
    max-height: 200px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.highlightWord{
  font-style: italic;
  background-color: #FFFF00;
}

.btn-outline{
  color: #563d7c;
  background-color: transparent;
  border-color: #563d7c;
}

.btn-outline:hover{
  color: #fff;
  background-color: #563d7c;
}


.center{
  text-align: center;
}
